body {
  margin: 0;
}

button {
  font-weight: 400;
}

/* .book-root .story-name,
.book-root .story-list {} */

/* .book-root :where(h1, h2, h3, h4, h5, h6) {} */

.controls {
  display: flex;
}

/* When a story is right after a controls, give them space to breathe */
.controls-root+.story-root {
  margin-top: 8em;
}

.story {
  padding: 1rem;
  border: 1px solid var(--surface-2);
  border-radius: 4px;
  margin-bottom: 1rem;
}

.story-root {
  margin-bottom: 0.5rem;
}

.story-name:has(+ .minimal) {
  display: none;
}

.story-root.minimal .story-name {
  display: none;
}

.story-root.minimal .story {
  padding: 0;
  border: none;
  border-radius: 0;
  background-color: transparent;
}

.story-name {
  margin: 0rem;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 0rem;
  padding: 1rem;
}

.form-group {
  display: inline-flex;
  align-items: center;
}

.control>span {
  cursor: pointer;
}

.control {
  display: inline-flex;
  gap: 1rem;
  padding: 0.5rem;
  align-items: center;
}

.control label {
  cursor: pointer;
}

.controls-title {
  font-size: 1rem;
  margin-bottom: -0.5rem;
}

.controls .actions {
  margin-inline-start: auto;
}

.story-code {
  display: grid;
}

.story-code .shiki {
  display: block;
  max-inline-size: 100%;
  padding: 1rem 2rem;
  border-radius: 12px;
}

.story-code-wrapper {
  order: -1;
  grid-area: 1 / 1;
  interpolate-size: allow-keywords;
}

.story-code-actions {
  grid-area: 1 / 1;
  order: 1;
  align-self: start;
  justify-self: end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 0.5em;
}

.story-code .cmd {
  font-weight: 400;
  background: none;
  border: none;
  box-shadow: none;
}

.cmd.copy-code.copied {
  color: var(--copy-text-color, var(--green-4, #484));
}

.story-code-toggler {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

.story-code-toggler button {
  --__bg: transparent;
  background: transparent;
  border: none;
  padding: 0.25em 2em;
  font-size: 0.8rem;
  font-family: var(--font-monospace-code);
}

.story-group {
  padding: 1rem 2rem 0;
  color: var(--stone-6);
  text-transform: uppercase;
  font-size: 0.8em;
}