body {
  margin: 0;
  --brand: #824f81;
  --link: #de7f4c;
  --link-visited: #de7f4c;
  --font-system-ui: "Quicksand", "Space Grotesk", system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
  --nav-link-color: #000;
  --size-content-3: 80ch;
}

@media (prefers-color-scheme: dark) {
  body {
    --nav-link-color: #abb;
  }
}

a[href] {
  color: var(--link, var(--brand));
}

/* links in content have underlines */
p a[href] {
  text-decoration: underline;
}

:where(a):where([href]):visited {
  text-decoration-color: var(--link-visited);
}

.brand-font {
  font-family: "Averia Sans Libre", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: lowercase;
}

.brand-color {
  color: var(--brand) !important;
}

:where(h1, h2, h3, h4, h5, h6) {
  font-family: var(--font-system-ui);
  font-weight: var(--font-weight-4);
  line-height: var(--font-lineheight-1);
}

.nav .nav-links {
  font-family: var(--font-system-ui);
}

.nav-link,
.brand {
  text-decoration: none;
}

.docs-root p {
  margin-bottom: 0.5rem;
}

.docs-root :where(h1, h2, h3, h4, h5, h6) {
  font-weight: var(--font-weight-4);
  line-height: var(--font-lineheight-4);
  margin-bottom: 1em;
}

.docs-root :where(h2, h3, h4, h5, h6) {
  margin-top: 1em;
}

.book-root :where(h1, h2, h3, h4, h5, h6) {
  font-family: "Space Grotesque", sans-serif;
  font-weight: 400;
  font-size: 1.5em;
}

body :where(li, dd, figcaption) {
  max-inline-size: var(--size-content-3);
}

.docs :where(ul, ol) {
  margin-bottom: 1em;
}

:where(:not(pre) > code) {
  font-size: 0.8em;
  color: var(--cyan-7);
}

@media (prefers-color-scheme: dark) {
  :where(:not(pre) > code) {
    color: var(--cyan-3);
  }
}

.visually-hidden {
  position: absolute;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}